.home #rigthCircle {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #1f1302;
  width: 100vmin;
  height: auto;
}
.home .main {
  width: 70vmin;
  height: 70vmin;
  border-width: 2px;
  display: grid;
  z-index: 100;
  justify-content: center;
  align-content: center;
}

.home .main > * {
  grid-column: 1;
  grid-row: 1;
}

.san-center {
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  top: -12vh;
  left: 14%;
}

.home .item {
  z-index: -1;
  animation: spinAround 12s linear infinite;
}
.home .item:hover {
  animation-duration: 99s;
}

.main > * > img {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg) translate(140px) scale(0.25);
  }

  to {
    transform: rotate(360deg) translate(140px) scale(0.25);
  }
}
#spinerone {
  animation-delay: -2s;
}
#spinertwo {
  animation-delay: -4s;
}
#spinerthree {
  animation-delay: -6s;
}
#spinerfour {
  animation-delay: -8s;
}
#spinerfive {
  animation-delay: -10s;
}
#spinersix {
  animation-delay: -12s;
}

.rippleBtn {
  background-position: center;
  transition: background 1.2s;
}
.rippleBtn:hover {
  background: #072d8e radial-gradient(circle, transparent 1%, #0336b7 1%)
    center/15000%;
  text-shadow: 1px 1px 7px #030303;
}
.rippleBtn:active {
  background-color: #0790ff;
  background-size: 100%;
  transition: background 0s;
}


.jetspinerImg {
	-webkit-animation: vibrate-1 5s linear infinite both;
	        animation: vibrate-1 8s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
            transform: scale(.2);
            
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
            transform: scale(.2);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
            transform: scale(.2);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
            transform: scale(.9);
  }
  20% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
            transform: scale(.6);
  }
  40% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-2px, -20px);
            transform: scale(.7);
  }
  60% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
            transform: scale(.8);
  }
  80% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
            transform: scale(.9);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
            transform: scale(.9);
  }
}

.transforQuot {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 