/*----------------Roller-------------------*/
.roller {
  position: absolute;
  width: 2000px;
  height: 2000px;
  right: 50vw;
  transform: translate(3%, -35%);
  background: #292b2c;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  z-index: 10;
}
.rollerTransition {
  transform: translate(105%, -35%);
}

.signupImage {
  position: absolute;
  z-index: 100;
  overflow-y: hidden !important;
}
.modal-content {
  overflow-y: hidden !important;
}

form button {
  background: #0b1b6d !important;
}
.signupImage {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  display: none;
}
.signupImage img {
  margin-left: 5vmin;
  width: 40vw;
  height: 40vh;
}
#exampleInputEmail1,
#exampleInputPassword1 {
  background: rgba(206, 206, 206, 0.753);
  border: none;
  outline: none;
  height: 55px;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 5px 5px 8px 10px;
}
#right-cont form label {
  font-size: 1rem;
}
#right-cont h1 {
  font-weight: 700;
  font-size: 2.3rem;
  color: #0b1b6d !important;
}
#signUpPositioning {
  border: none !important;
  z-index: 1;
}

#signupSide {
  display: flex;
  align-items: left;
  justify-content: center;
  border: 4px solid;
}

#right-cont {
  height: 90%;
  overflow: hidden;
}

#signupFirsttname,
#signupLasttname {
  background: rgba(206, 206, 206, 0.753);
  border: none;
  outline: none;
  height: 40px;
  font-size: 1rem;
  border-radius: 20px;
  padding: 15px 10px 15px 20px;
}

#roller_text {
  width: 50vw;
  height: 70vh;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 5vw;
  overflow: visible !important;
  padding-bottom: 20vh;
  z-index: 12;
}
#roller_text img {
  position: absolute;
  margin-top: 68vh;
  margin-left: 40vw;
  width: 60%;
}

#rollerRight_text {
  width: 45vw;
  height: 70vh;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 5vw;
  overflow: visible !important;
  padding-bottom: 20vh;
  margin-left: 50vw;
  z-index: 12;
}
#rollerRight_text img {
  position: absolute;
  margin-top: 65vh;
  margin-left: -40vw;
  width: 60%;
}

.google_singin img {
  height: 20px;
}
