#errorPage {
  background: rgba(220, 220, 220, 0.78);
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left {
    padding-left: 15vw!important;
  height: 100vh;
  width: 60vw;
}
.left h3 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 9vmin;
  line-height: 118px;
  color: #242323;
}
.left h1 {
    font-weight: 400;
    font-size: 23vmin;
    ;
    color: #2D7271;
    
}
.left button{
    background: #2D7271;
border-radius: 50px;
color: whitesmoke;
padding: 15px 30px;
border: white;
}
.right {
  height: 100vh;
  width: 40vw;
  border-radius: 176px 0px 0px 176px;
}
.right img{
    width: 40vw;
    height: 100vh;
}
